C27/局域网内Windows平台系统的安全性/Client/Service References/WCF.Fifth/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_PublicOperation_InputMessage">
    <wsdl:part name="parameters" element="tns:PublicOperation" />
  </wsdl:message>
  <wsdl:message name="IService_PublicOperation_OutputMessage">
    <wsdl:part name="parameters" element="tns:PublicOperationResponse" />
  </wsdl:message>
  <wsdl:message name="IService_RestrictedOperation_InputMessage">
    <wsdl:part name="parameters" element="tns:RestrictedOperation" />
  </wsdl:message>
  <wsdl:message name="IService_RestrictedOperation_OutputMessage">
    <wsdl:part name="parameters" element="tns:RestrictedOperationResponse" />
  </wsdl:message>
  <wsdl:message name="IService_AdminOperation_InputMessage">
    <wsdl:part name="parameters" element="tns:AdminOperation" />
  </wsdl:message>
  <wsdl:message name="IService_AdminOperation_OutputMessage">
    <wsdl:part name="parameters" element="tns:AdminOperationResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="PublicOperation">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/PublicOperation" message="tns:IService_PublicOperation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/PublicOperationResponse" message="tns:IService_PublicOperation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RestrictedOperation">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/RestrictedOperation" message="tns:IService_RestrictedOperation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/RestrictedOperationResponse" message="tns:IService_RestrictedOperation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AdminOperation">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AdminOperation" message="tns:IService_AdminOperation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AdminOperationResponse" message="tns:IService_AdminOperation_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IService" type="tns:IService">
    <wsp:PolicyReference URI="#NetTcpBinding_IService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="PublicOperation">
      <soap12:operation soapAction="http://tempuri.org/IService/PublicOperation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RestrictedOperation">
      <soap12:operation soapAction="http://tempuri.org/IService/RestrictedOperation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AdminOperation">
      <soap12:operation soapAction="http://tempuri.org/IService/AdminOperation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="NetTcpBinding_IService" binding="tns:NetTcpBinding_IService">
      <soap12:address location="net.tcp://localhost:8675/Service" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8675/Service</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>yzhu@asiapacific.cpqcorp.net</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>