C25/强类型消息契约/Client/Service References/WCF.Third/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8675/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCF.Third" />
  <xs:element name="LogMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCF.Third" minOccurs="0" name="bodyInfo" nillable="true" type="q1:BodyInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCF.Third" name="headerInfo" nillable="true" type="q2:HeaderInfo" />
  <xs:element name="ResponseMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Response" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCF.Third" name="responseCode" type="q3:ResponseCode" />
</xs:schema>