C26/分布式事务/Client/Service References/WCF.Fourth/item11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF.Fourth" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF.Fourth" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BankAccount">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:double" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BankAccount" nillable="true" type="tns:BankAccount" />
</xs:schema>